
<!DOCTYPE html>
<html>
<head>
  <title>Detalle del autoo</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-UGjQ8auVK5cC+BXyfnuX9aDfG7E5BVBQHs3zvqdb1VxXc29yfBCZ3QygyL8zWOrC3CkzR/PT8rSxumzakJT1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <!-- Navbar -->
  <%- include('navbar') %>

  <div class="main-content">
    <div class="container-fluid mt-5">
      <div class="row  text-light mx-auto w-75 " >
        <div class="col-12  mx-auto col-xl-4 col-lg-7 col-md-9"> 
          <img src="data:image/jpg;base64, <%= Buffer.from(auto.img).toString('base64') %>" class="p-2 img-fluid" >
        </div>
        <div class="col col-xl-5 mx-auto col-md-12 p-4 text-center "> 
          <h2><%= auto.modelo %> <%= auto.marca %></h2>
          <p>Precio: $<%= auto.precio %></p> 
          <span class="text-success"><b>Stock disponible</b></span>
          <div class=" flex  mt-3">
            <a href="/addToCart/<%= auto.codAD0KM %>" class="btn btn-success">Comprar</a>
            <a href="/" class="btn btn-primary">Seguir viendo</a>
            </div>
        </div>
          

       </div>
      <div class="col-12 col-xl-8 text-white py-5 w-80 mx-auto ">
        <div class="col-12 "><h5 class="border-bottom   pb-1">Descripcion</h5></div>  
        <div class="col-12"><p><b>Dato1</b> Lorem ipsum dolor sit.</p></div>  
        <div class="col-12"><p><b>Dato1</b> Lorem ipsum dolor sit.</p></div>
        <div class="col-12"><p><b>Dato1</b> Lorem ipsum dolor sit.</p></div>  
        <div class="col-12"><p><b>Dato1</b> Lorem ipsum dolor sit.</p></div>
      </div>

      <div class="row mt-5 text-white mx-auto">
        <h4>Tambien puede interesarte...</h4>
          
      </div>
      </div>
    </div>
  </div>
  
  
  <!-- Incluye el footer -->
  <%- include('footer') %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>