
<!DOCTYPE html>
<html>
<head>
  <title>Detalle del autoo</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-UGjQ8auVK5cC+BXyfnuX9aDfG7E5BVBQHs3zvqdb1VxXc29yfBCZ3QygyL8zWOrC3CkzR/PT8rSxumzakJT1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <!-- Navbar -->
  <%- include('navbar') %>

  <div class="main-content">
    <div class="container-fluid mt-5">
      <div class="row  mx-auto d-flex justify-content-center " style="background-color: rgba(8, 9, 17, 0.705); width: 550px;">
       
            <div class="col-12">
                <img src="data:image/jpg;base64, <%= Buffer.from(auto.img).toString('base64') %>" class="mt-4 img-fluid" height="200px">
                
            <div class="text-light mt-3 text-center">
                <h1><%= auto.modelo %> <%= auto.marca %></h1>
                <h3></h3>
                <p>Precio: $<%= auto.precio %></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius cupiditate, explicabo officiis culpa, voluptatum ducimus quia modi assumenda soluta quo provident ipsam at ullam libero vel ipsa quam corporis, dolor sapiente aspernatur architecto rerum tempora sint. Ut ea quia dolores?</p>
            </div>
            </div>
            
            <div class="col-12 mb-5">
                
             <div class="buttons text-center mx-auto">
            <a href="/addToCart/<%= auto.codAD0KM %>" class="btn btn-outline-light">Agregar al carrito</a>
            <a href="/" class="btn btn-outline-light">Seguir viendo</a>
            </div>
       

      </div>
     
      </div>
    </div>
  </div>
  
  
  <!-- Incluye el footer -->
  <%- include('footer') %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>