<!DOCTYPE html>
<html>
<head>
  <title>Carrito de compras</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-UGjQ8auVK5cC+BXyfnuX9aDfG7E5BVBQHs3zvqdb1VxXc29yfBCZ3QygyL8zWOrC3CkzR/PT8rSxumzakJT1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
</head>
<body>
  <!-- Navbar -->
  <%- include('navbar') %>
  <%  var total = 0; %>
  <!-- Contenido principal -->

  <div class="main-content">
    <h1 class="text-center text-light pt-5">Carrito de compras</h1>
   
    <div class="col-12 col-xl-6 mx-auto">
      <table class="table  text-light   mt-5 mx-auto text-center " style="background-color:#4B4B4B" >
        <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Cant.</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
          </tr>
          <tbody>
            <% cart.forEach(item => {  %>
              <tr>
              <% if (item.type === 'auto') { %>
                
                  
                  <td class="pt-3"><%= item.marca %> <%= item.modelo %></td>
                  <td class="pt-3"><%= item.quantity %></td>
                  <% total += item.precio * item.quantity; %>
                  <td class="pt-3">$<%= item.precio * item.quantity %></td>
                  <td class=""> <form action="/removeFromCart" class="" method="POST" style="display: inline-block;">
              
                    <input type="hidden" name="productId" value="<%= item.codAD0KM %>">
                    <button type="submit" class="btn btn-danger px-3">X</button>
                  </form>
                  <a href="/autos/<%= item.codAD0KM %>"  class="btn btn-success  " style="display: inline-block;">Ver</a></td>
 
                <% } else if (item.type === 'accesorio') { %>
                  
                  <td ><%= item.nombre %></th>
                  <td > <%= item.quantity %></th>
                  <td scope="col">$<%= item.precio * item.quantity %></th>
                   <% total += item.precio * item.quantity; %>
                  <td class=""> <form action="/removeFromCart" class="" method="POST" style="display: inline-block;">
                    <input type="hidden" name="productId" value="<%= item.codACC %>">
                    <button type="submit" class="btn btn-danger px-3">X</button>
                  </form>
                  <a href="/product/<%= item.codACC %>" class="btn btn-success " style="display: inline-block;">Ver</a></td>

                <% } %>

              </tr>
          

            <% }); %>
          </tbody>
        </thead>
      </table>
    </div>
      
      <div class="col-6 text-light mx-auto mt-5 text-center"  >
        
          <div class="  p-2" >
            <p>Total: <%= total %> USD</p> 
          </div>
          <div class="">
            
            <form action="/payment" method="POST">
              <button type="submit" class="btn btn-success">Comprar</button>
            </form>
          
        </div>
      </div>
    
       
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Incluye el footer -->
  <%- include('footer') %>
</body>
</html>
