<!DOCTYPE html>
<html>
<head>
  <title>eCommerce</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-UGjQ8auVK5cC+BXyfnuX9aDfG7E5BVBQHs3zvqdb1VxXc29yfBCZ3QygyL8zWOrC3CkzR/PT8rSxumzakJT1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
  <!-- Navbar -->
 

  <%  var index = 0; %>

   <!-- Contenido principal -->
 
  <div class="main-content p-0 m-0">
    <div class="row p-0 m-0"  >
      <div class="col-12 text-light position-relative " id="banner">
        <%- include('navbar') %>
      
      </div>
   
    </div>
    <div class="my-5 border-bottom border-white text-white rounded d-flex mx-auto p-2 my-3" style="  height: 40px; width: 50%; "><input type="text" style="color: aliceblue; width: 95%; outline: none; border: 0; background-color: rgba(240, 248, 255, 0)" value="" placeholder="Buscar"><img src="/buscar.png" alt="buscar" class="img-fluid "  /></div>
    <h3 class="text-center text-uppercase font-weight-bold my-5">Nuestros productos</h3>

  <div class="container ">
    <div class="row h-100 justify-content-center text-light mb-5">
     
      <div class=" col-5 col-md-3  mt-2  ">
        <div class="card text-center w-100 "  style=" background-size: cover;  background-position: center; width: 100%; background-image: url('../images/autos/chevrolet.jpg');">
            <div class="card-body  p-2 d-flex flex-column justify-content-center align-items-center" id="card" style="background-color: rgba(0, 0, 0, 0.253); height: 150px;">
           
              <h3 class="font-weight-bold text-decoration-none   ">Vehiculos 0KM</h3>
              <a href="/autos" class="m-3 p-1 btn btn-outline-light text-center text-decoration-none w-75" style="height: 30px;">
                <p class="small"> Ver m치s</p>
              </a>
            
          </div>
        </div>
      </div>

      <div class=" col-5 col-md-3   mt-2 ">
        <div class="card text-center w-100 "  style=" background-size: cover;  background-position: center; width: 100%; background-image: url('../images/autos/chevrolet.jpg');  ">
            <div class="card-body  p-2 d-flex flex-column justify-content-center align-items-center" id="card" style="background-color: rgba(0, 0, 0, 0.253); height: 150px;">
              <h3 class="font-weight-bold text-decoration-none">Vehiculos Usados</h3>
              <a href="/usados" class="m-3 p-1 btn btn-outline-light text-center text-decoration-none w-75" style="height: 30px;">
                <p class="small"> Ver m치s</p>
              </a>
          </div>
        </div>
      </div>


      <div class="col-5 col-md-3 col-xl-3  mt-2 " >
        <div class="card text-center w-100"  style=" width: 100%;  background-size: cover;  background-position: center; background-image: url('../images/productos/llantas.jpg'); ">
            <div class="card-body p-2 d-flex flex-column justify-content-center align-items-center" id="card" style="background-color: rgba(0, 0, 0, 0.253); height: 150px;">
              <h3 class="font-weight-bold text-decoration-none">Productos</h3>
              <a href="/products" class="m-3 p-1 btn btn-outline-light text-center text-decoration-none w-75" style="height: 30px;">
                <p class="small"> Ver m치s</p>
              </a>
          </div>
         
       
        </div>
      </div>
      <div class=" col-5 col-md-3  mt-2 ">
        <div class="card text-center w-100 "  style=" background-size: cover;  background-position: center; width: 100%; background-image: url('../images/autos/chevrolet.jpg');  ">
            <div class="card-body  p-2 d-flex flex-column justify-content-center align-items-center" id="card" style="background-color: rgba(0, 0, 0, 0.253); height: 150px;">
              <h3 class="font-weight-bold text-decoration-none">Reparacion de vehiculos</h3>
              <a href="/reparacion" class="m-3 p-1 btn btn-outline-light text-center text-decoration-none w-75" style="height: 30px;">
                <p class="small"> Ver m치s</p>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" m-5">
    <div class="container text-center  ">
      <h3 class="text-uppercase font-weight-bold">Vehiculos disponibles 0KM <hr class="w-50 bg-dark"></h3>
      <div class="row py-5 mx-auto d-flex justify-content-center">
        <% autos.forEach(auto => { %>
        <div class=" col-11 col-sm-8  col-md-5 col-lg-4 col-xl-3 p-2  "> 
          <div class="card text-center mx-auto shadow-lgd-flex flex-column justify-content-center" style="background-color: rgba(216, 215, 216, 0.925); border: 1px solid white;"> 
            <a href="" class="text-dark  " >
              <% if (auto.img instanceof Buffer && auto.img.length > 0) { %>
              <img src="data:image/jpg;base64, <%= Buffer.from(auto.img).toString('base64') %>"   alt="<%= auto.marca %>" height="150px" width="255px">
              <% } else { %>
                <img src="images/autos/chevrolet.jpg"  alt="" height="150px" width="250px">
              <% } %>
              <div class="card-body" >
                <h4><%= auto.marca %></h4>
                <h4><%= auto.modelo %></h4>
                
              </div>
            </a>

            <div  class="mt-auto"  style="height: 50px;">
              <a href="/addToCart/<%= auto.codAD0KM %>"  class="btn btn-dark small">Comprar</a>
              <a href="/autos/<%= auto.codAD0KM %>" class="btn btn-dark small">Ver</a>
            </div>
          </div>
        </div>
        <% }); %>  
      </div>
    <div>
   
    </div>
  </div>


   

  </div>

  
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <%- include('footer') %>
</body>
</html>
