<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Métodos de Pago</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-UGjQ8auVK5cC+BXyfnuX9aDfG7E5BVBQHs3zvqdb1VxXc29yfBCZ3QygyL8zWOrC3CkzR/PT8rSxumzakJT1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <!-- Navbar -->
    <%- include('navbar') %>

    <div class="main-content text-light  ">
      <h1 class="text-center">Selecciona un método de pago:</h1>
      <div class="row py-5">
        
       <div class="col-xl-12 col-12 text-center">
       
        <form action="/checkout"  method="post">
            <% for (let i = 0; i < paymentMethods.length; i++) { %>
                <div>
                    <input type="radio" id="<%= paymentMethods[i].id %>" name="metodo_pago" value="<%= paymentMethods[i].id %>">
                    <label for="<%= paymentMethods[i].id %>"><%= paymentMethods[i].name %></label>
                </div>
            <% } %>
            <button type="submit "  class="btn btn-success m-3">pagar</button>
        </form>
       </div>
      </div>
    </div>

   <!-- Incluye el footer -->
  <%- include('footer') %>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
