<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Métodos de Pago</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-UGjQ8auVK5cC+BXyfnuX9aDfG7E5BVBQHs3zvqdb1VxXc29yfBCZ3QygyL8zWOrC3CkzR/PT8rSxumzakJT1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <!-- Navbar -->
    <%- include('navbar') %>

    <div class="main-content text-light">
      <div class="container mt-5">
          <form action="/sendMail" method="GET">
              <div class="row  text-light p-4 mb-3 rounded" style=" background-color: #020513;">
                  <div class="col-12 border-bottom border-light mb-4"> 
                      <h5><b>1 </b>ELEGI LA OPCION DE RETIRO O ENVIO DE TU COMPRA</h5>
                  </div>
                  <div class="col-xl-6 col-12 py-3 text-center">
                      <p>Selecciona tu pais</p>
                      <div>
                          <select name="provincia" class=" text-light w-50" style=" background-color: #020513;">
                              <option value="CABA">CABA</option>
                              <option value="Caballito" selected>CABALLITO</option>
                              <option value="Flores">FLORES</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-xl-6 col-12 py-3 text-center">
                    <p>Selecciona tu provincia</p>
                    <div>
                        <select name="provincia" class=" text-light w-50" style=" background-color: #020513;">
                            <option value="CABA">CABA</option>
                            <option value="Caballito" selected>CABALLITO</option>
                            <option value="Flores">FLORES</option>
                        </select>
                    </div>
                </div>
              </div>

              <div class="row  text-light p-4 mb-3 rounded flex justify-content-center " style=" background-color: #020513;">
                  <div class="col-12 border-bottom border-light mb-4 "> 
                      <h5><b>2 </b>INTRODUCE TU DIRRECCION</h5>
                  </div>
                  <div class="col col-xl-4  m-1 py-4 text-center">
                      <p>Calle</p>
                      <div><input type="text" placeholder="Calle" style=" background-color: #020513;"></div>
                  </div>
                  <div class="col col-xl-4 m-1 py-4 text-center">
                    <p>Altura</p>
                    <div><input type="number"  placeholder="Altura"  style=" background-color: #020513;"></div>
                </div>
                <div class="col col-xl-4  m-1 py-4 text-center">
                    <p>Localidad</p>
                    <div><input type="text" placeholder="Localidad" style=" background-color: #020513;"></div>
                </div>
                <div class="col col-xl-4  m-1 py-4 text-center">
                  <p>Codigo postal</p>
                  <div><input type="number"  placeholder="Codigo postal"  style=" background-color: #020513;"></div>
              </div>
              </div>

              <div class="row  text-light p-4 mb-3 rounded" style=" background-color: #020513;">
                  <div class="col-12 border-bottom border-light mb-4"> 
                      <h5><b>3 </b>SELECCIONA METODO DE PAGO</h5>
                  </div>
                  <div class="col py-2 text-left">
                      <% for (let i = 0; i < metodo.length; i++) { %>
                          <div>
                              <input type="radio" id="<%= metodo[i].codFP %>" name="metodo_pago" value="<%= metodo[i].codFP %>">
                              <label for="<%= metodo[i].codFP %>"><%= metodo[i].descripcion %></label>
                          </div>
                      <% } %>
                  </div>
              </div>
                <div class="text-center">
              <button type="submit" class="btn btn-dark ">Pagar</button>
                </div>
          </form>
      </div>
  </div>
   <!-- Incluye el footer -->
  <%- include('footer') %>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
