<!DOCTYPE html>
<html>
<head>
  <title>eCommerce</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-UGjQ8auVK5cC+BXyfnuX9aDfG7E5BVBQHs3zvqdb1VxXc29yfBCZ3QygyL8zWOrC3CkzR/PT8rSxumzakJT1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <!-- Navbar -->
  <%- include('navbar') %>

  <!-- Contenido principal -->
  <div class="main-content">
    <div class="producto">
      <h1 class="text-center text-light pt-5"> Accesorios </h1>
      <div class="container text-center ">
        <div class="row py-5 mx-auto d-flex justify-content-center ">
          <% products.forEach(product => { %>
          <div class="col-6 col-sm-8 col-md-5 col-lg-4 col-xl-3 p-2 "> 
            <div class="card text-center " style="background-color: #f1f1f1 ; height: 320px;" >
              <div class="text-dark text-decoration-none">
                <img src="data:image/jpg;base64, <%= Buffer.from(product.img).toString('base64') %>"  alt="<%= product.nombre %>" class="card-img-top" alt="" height="120px">
                <div class="card-body mt-auto"  >
                  <h3><%= product.nombre %></h3>
                  
                  <p class="text-success" > Stock : <%= product.stock %>  </p>
                </div>
              </div>
              <div  class="mt-auto"  style="height: 50px;">
                <a href="/addToCart/<%= product.codACC %>"  class="btn btn-dark small">Comprar</a>
             
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Incluye el footer -->
  <%- include('footer') %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
