<!DOCTYPE html>
<html>
<head>
  <title>eCommerce</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-UGjQ8auVK5cC+BXyfnuX9aDfG7E5BVBQHs3zvqdb1VxXc29yfBCZ3QygyL8zWOrC3CkzR/PT8rSxumzakJT1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <!-- Navbar -->
  <%- include('navbar') %>

  <!-- Contenido principal -->
  <div class="main-content">
    <div class="producto">
      <h1 class="text-center text-light pt-5"> <%= category %> </h1>
      <div class="container ">
        <div class="row py-5">
          <% products.forEach(product => { %>
          <div class="col-sm-6 col-md-4 col-lg-3 p-2 "> 
            <div class="card text-center" style="background-color: rgba(8, 9, 17, 0.705); height: 390px;" >
              <a href="" class="text-light">
                <img src="data:image/jpg;base64, <%= Buffer.from(auto.img).toString('base64') %>"  alt="<%= auto.marca %>" class="card-img-top" alt="" height="200px">
                <div class="card-body" >
                  <h4><%= product.name %></h4>
                  <p><%= product.price %> USD</p>
                </div>
              </a>
              <div  class="mt-3"  style="height: 50px;">
                
                <a href="/addToCart/<%= product.id %>"  class="btn btn-outline-light small">Comprar</a>
                <a href="/product/<%= product.id %>" class="btn btn-outline-light small">Ver</a>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Incluye el footer -->
  <%- include('footer') %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
